/* Logo */
.menu-lateral a::before {
  border-top: 4px solid #d10121;
  border-left: 4px solid #d10121;
}

.menu-lateral a::after {
  border-right: 4px solid #d10121;
  border-bottom: 4px solid #d10121;
}

/* Menu */
.menu-lateral .menu a:hover, .menu-lateral .menu a.active {
  color: #d10121;
}

/* Menu Alternador */
.menu-lateral .menu-alternador span,
.menu-lateral .menu-alternador span::before,
.menu-lateral .menu-alternador span::after {
  background-color: #d10121;
}

/* Home */
.sobre h2 {
  font-size: 20px;
  text-transform: capitalize;
  color: #d10121;
  font-weight: 300;
  margin: -5px 0 20px;
}
